@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.landing-page-container {
    height: 100vh;
    background: url("../images/pic1.jpg"); 
    background-position: center;
    background-size: cover;
}

h1 {
  font-family: 'Lobster', cursive;
}

.btn {
    background-color:rgb(221, 151, 46);
    border-radius: 18px;
    border: 1px solid black;
}