@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.landing-page-container {
    height: 100vh;
    background-image: url("assets/images/pic1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgba(0 0 0 0.5);
}

h1 {
  font-family: 'Lobster', cursive;
}

.btn {
    background-color:rgb(221, 151, 46);
    border-radius: 18px;
    border: 1px solid black;
}